
    <footer class="site-footer bg-dark" role="contentinfo">
        <div class="container">
          <div class="row">
            <div class="col-md-3">
              <p>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart text-danger" aria-hidden="true"></i> by Syed Ovais Akhtar
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              </p>
            </div>
            <div class="col-md-3">
              <ul class="list-unstyled footer-link">
                <li><span class="mr-3 d-block">Address:</span><span class="text-white">Shop No. XYZ Bahria Town, Karachi</span></li>
                <li><span class="mr-3 d-block">Phone:</span><span class="text-white">+92 3018296440</span></li>
                <li><span class="mr-3 d-block">E-mail:</span><span class="text-white">info@yourdomainbizzcons.com</span></li>
              </ul>
            </div>
            <div class="col-md-3">
              <h3 class="text-white">Quick Links</h3>
              <ul class="list-unstyled footer-link">
                <li><a href="/about">About</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/quotes">Get A Quote</a></li>
              </ul>
            </div>
            <div class="col-md-3">
              <h3 class="text-white">Social</h3>
              <ul class="list-unstyled footer-link d-flex footer-social">
                <li><a href="#" class="p-2"><span class="fa fa-twitter"></span></a></li>
                <li><a href="#" class="p-2"><span class="fa fa-facebook"></span></a></li>
                <li><a href="#" class="p-2"><span class="fa fa-linkedin"></span></a></li>
                <li><a href="#" class="p-2"><span class="fa fa-instagram"></span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
      <!-- END footer -->
  
      <script src="js/jquery-3.2.1.min.js"></script>
      <script src="js/popper.min.js"></script>
      <script src="js/bootstrap.min.js"></script>
      <script src="js/owl.carousel.min.js"></script>
      <script src="js/jquery.waypoints.min.js"></script>
      <script src="js/main.js"></script>
    </body>
  </html>