<header role="banner">

  <!-- Ticker Start  -->

  <% if(headlines && headlines.length > 0) { %>
    <div class="tcontainer text-white">
      <div class="ticker-wrap">
        <div class="ticker-move">
          <% for(var i=0; i< headlines.length ; i++) { %>

            <div class="ticker-item">
              <%= headlines[i].news_title %> - <%= headlines[i].createdAt %> 
            </div>

            <% } %>

        </div>
      </div>
    </div>
    <% } else { %>
      <div class="tcontainer text-white">
        <div class="ticker-wrap">
          <div class="ticker-move">
          
              <div class="ticker-item"> Welcome to Bizzcons Services. Latest News will appear here</div>
  
          </div>
        </div>
      </div>
      <% } %>
  

      <!-- Ticker End -->

      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
          <a class="navbar-brand position-absolute" href="/">Bizzcons</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05"
            aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse position-relative" id="navbarsExample05">
            <ul class="navbar-nav mx-auto pl-lg-5 pl-0 d-flex align-items-center">
              <li class="nav-item">
                <a class="nav-link active" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/services">Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/projects">Projects</a>
              </li>

              <li class="nav-item cta-btn2">
                <a class="nav-link" href="/quote">
                  <span class="d-inline-block px-4 py-2 border text-white" style="background-color:#007bff;">Get A
                    Quote</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
</header>