
<%- include('commons/user/head.ejs') %>
<%- include('commons/user/nav.ejs') %>
    <section class="inner-page">
      <div class="slider-item py-5" style="background-image: url('img/img_07.jpg');">
        
        <div class="container">
          <div class="row slider-text align-items-center justify-content-center text-center">
            <div class="col-md-7 col-sm-12 element-animate">
              <h1 class="text-white">About Us</h1>
            </div>
          </div>
        </div>

      </div>
    </section>
    
    <section class="section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-6 order-lg-3 mb-5">
            <img src="img/mission.jpeg" alt="Image placeholder" class="img-fluid">
          </div>
          <div class="col-md-1 order-lg-2"></div>
          <div class="col-md-5 order-lg-1">
            <br>
            <h2 class="text-uppercase heading mb-4">Our Mission</h2>
            <p class="mb-3">To provide quality workmanship and customer service maintaining highest level of professionalism, honesty, integrity and fairness in our relationships with our suppliers, subcontractors, professional associates and customers by providing our customers with highest level of quality construction services at competitive prices.</p>

        
          </div>
          
        </div>
        <div class="row">
          <div class="col-md-6 order-lg-1 mb-5">
            <img src="img/vision.jpg" alt="Image placeholder" class="img-fluid">
          </div>
          <div class="col-md-1 order-lg-2"></div>
          <div class="col-md-5 order-lg-3">
            <h2 class="text-uppercase heading mb-4">Our Vision</h2>
            <p class="mb-3">To be one of the premier engineering, construction, and project management organization by achieving extraordinary results for our customers, building satisfying careers for our people, and earning a fair return on the value we deliver.</p>

           
          </div>
          
        </div>

        <div class="row mb-5">
          <div class="col-md-6 order-lg-3 mb-5">
            <img src="img/values_02.jpg" alt="Image placeholder" class="img-fluid">
          </div>
          <div class="col-md-1 order-lg-2"></div>
          <div class="col-md-5 order-lg-1">
            <h2 class="text-uppercase heading mb-4">Our Values</h2>
            
            <ul class="list-unstyled check">
              <li>Ethics</li>
              <li>Health and Safety</li>
              <li>Quality</li>
              <li>People</li>
              <li>Culture</li>
              <li>Relationships</li>
              <li>Innovation</li>
              <li>Sustainability</li>
            </ul>
          </div>
          
        </div>
      </div>
    </section>

  

    <%- include('commons/user/end.ejs') %>