<%- include('commons/admin/head.ejs') %>
<%- include('commons/admin/nav.ejs') %>
<%- include('commons/admin/sidebar.ejs') %>

      <div class="main-content">
        <section class="section">
          <div class="section-body">
            <div class="row mt-sm-4">

                <% if(data) { %>
              <div class="col-12 col-md-12 col-lg-4">
                <div class="card author-box">
                  <div class="card-body">
                    <div class="author-box-center">
                      <img alt="image" src= "<%= data.profile_pic %>" class="rounded-circle author-box-picture">
                      <div class="clearfix"></div>
                      <div class="author-box-name">
                        <a href=""><%=data.fullname %></a>
                      </div>
                      <div class="author-box-job">Bizzcons Admin</div>
                    </div>
                    <div class="text-center">
                      <div class="author-box-description">
                        <p><%=data.short_intro %></p>
                      </div>
                      <div class="mb-2 mt-3">
                        <div class="text-small font-weight-bold">Follow <%=data.fullname %> On</div>
                      </div>
                      <a href="<%=data.facebook_url %>" class="btn btn-social-icon mr-1 btn-facebook">
                        <i class="fab fa-facebook-f"></i>
                      </a>
                      <a href="<%=data.twitter_url %>" class="btn btn-social-icon mr-1 btn-twitter">
                        <i class="fab fa-twitter"></i>
                      </a>
                      
                      <div class="w-100 d-sm-none"></div>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header">
                    <h4>Personal Details</h4>
                  </div>
                  <div class="card-body">
                    <div class="py-4">
                      <p class="clearfix">
                        <span class="float-left">
                          Birthday
                        </span>
                        <span class="float-right text-muted">
                            <%=data.dob %>
                        </span>
                      </p>
                      <p class="clearfix">
                        <span class="float-left">
                          Phone
                        </span>
                        <span class="float-right text-muted">
                            <%=data.phone %>
                        </span>
                      </p>
                      <p class="clearfix">
                        <span class="float-left">
                          Email
                        </span>
                        <span class="float-right text-muted">
                            <%=data.email %>
                        </span>
                      </p>
                      <p class="clearfix">
                        <span class="float-left">
                          Facebook
                        </span>
                        <span class="float-right text-muted">
                          <a href="<%=data.facebook_url %>"><%=data.fullname %></a>
                        </span>
                      </p>
                      <p class="clearfix">
                        <span class="float-left">
                          Twitter
                        </span>
                        <span class="float-right text-muted">
                          <a href="<%=data.twitter_url %>">@<%=data.fullname %></a>
                        </span>
                      </p>
                    </div>
                  </div>
                </div>
               
              </div>
              <div class="col-12 col-md-12 col-lg-8">
                <div class="card">
                  <div class="padding-20">
                    <ul class="nav nav-tabs" id="myTab2" role="tablist">
                      <li class="nav-item">
                        <a class="nav-link active" id="home-tab2" data-toggle="tab" href="#about" role="tab"
                          aria-selected="true">About</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="profile-tab2" data-toggle="tab" href="#settings" role="tab"
                          aria-selected="false">Update</a>
                      </li>
                    </ul>
                    <div class="tab-content tab-bordered" id="myTab3Content">
                      <div class="tab-pane fade show active" id="about" role="tabpanel" aria-labelledby="home-tab2">
                        <div class="row">
                          <div class="col-md-3 col-6 b-r">
                            <strong>Full Name</strong>
                            <br>
                            <p class="text-muted"><%=data.fullname %></p>
                          </div>
                          <div class="col-md-3 col-6 b-r">
                            <strong>Mobile</strong>
                            <br>
                            <p class="text-muted"><%=data.phone %></p>
                          </div>
                          <div class="col-md-3 col-6 b-r">
                            <strong>Email</strong>
                            <br>
                            <p class="text-muted"><%=data.email %></p>
                          </div>
                          <div class="col-md-3 col-6">
                            <strong>Location</strong>
                            <br>
                            <p class="text-muted">Pakistan</p>
                          </div>
                        </div>
                        <p class="m-t-30"><%=data.bio %></p>
                    
                      </div>
                      
                      <!-- Edit profile section -->
                      <div class="tab-pane fade" id="settings" role="tabpanel" aria-labelledby="profile-tab2">
                        <form  action="/admin/update/info" method="POST" class="needs-validation" >
                          <div class="card-header">
                            <h4>Edit Profile</h4>
                          </div>
                          <div class="card-body">
                            <div class="row">
                              <div class="form-group col-md-6 col-12">
                                <label>Full name</label>
                                <input id="fullname" name="fullname" type="text" class="form-control" value="<%=data.fullname %>">
                                <div class="invalid-feedback">
                                  Please fill in the full name
                                </div>
                              </div>
                              <div class="form-group col-md-6 col-12">
                                <label>Phone</label>
                                <input id="phone" name="phone" type="tel" class="form-control" value="<%=data.phone %>">
                                <div class="invalid-feedback">
                                  Please fill in the phone
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="form-group col-md-7 col-12">
                                <label>Facebook</label>
                                <input id="fb_url" name="fb_url" type="text" class="form-control" value="<%=data.facebook_url %>">
                                <div class="invalid-feedback">
                                  Please fill in the facebook url
                                </div>
                              </div>
                              <div class="form-group col-md-5 col-12">
                                <label>Twiter</label>
                                <input id="twitter_url" name="twitter_url" type="text" class="form-control" value="<%=data.twitter_url %>">
                                <div class="invalid-feedback">
                                  Please fill in the twitter url
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="form-group col-12">
                                <label>Short Intro</label>
                                <textarea id="short_intro" name="short_intro"
                                  class="form-control summernote-simple"><%= data.short_intro %></textarea>
                              </div>
                            </div>
                            <div class="row">
                              <div class="form-group col-12">
                                <label>Bio</label>
                                <textarea id="bio" name="bio"
                                  class="form-control summernote-simple"><%= data.bio %></textarea>
                              </div>
                            </div>
                      
                          </div>
                          <div class="card-footer text-right">
                            <button class="btn btn-primary">Save Changes</button>
                          </div>
                        </form>
                        <div class="card-footer text-right">
                          <form action="/admin/delete/<%= data.admin_id %>" method="POST">
                            <Button class="btn btn-outline-danger" type="submit">Delete</Button>
                          </form>
                        </div>

                       
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <% } %>
            </div>
          </div>
        </section>
       
      </div>

  <%- include('commons/admin/end.ejs') %>