<!DOCTYPE html>
<html lang="en">


<!-- auth-login.html  21 Nov 2019 03:49:32 GMT -->

<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <title>Login | Admin</title>

  <link rel="stylesheet" href="../assets/css/app.min.css">
  <link rel="stylesheet" href="../assets/bundles/bootstrap-social/bootstrap-social.css">
  <link rel="stylesheet" href="../assets/css/style.css">
  <link rel="stylesheet" href="../assets/css/components.css">
  <link rel="stylesheet" href="../assets/css/custom.css">
  <link rel='shortcut icon' type='image/x-icon' href='../assets/img/favicon.ico' />
</head>

<body>
  <div class="loader"></div>
  <div id="app">
    <section class="section">
      <div class="container mt-5">
        <div class="row">
          <style>
            .label {
              color: white;
              padding: 8px;
              font-family: Arial;
            }

            .success {
              background-color: #96e999;
            }

            .danger {
              background-color: #f3a29c;
            }
          </style>
          <div
            class="col-12 col-sm-6 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4 align-self-center mt-5">
            <div class="card card-primary">
              
                      <div class="card-header">
                        <h4>Login</h4>
                      </div>
                      <div class="card-body">
                        <form method="POST" action="/admin/login" class="needs-validation" novalidate="">
                          <div class="form-group">
                            <label for="email">Email</label>
                            <input id="email" type="email" class="form-control" name="email" tabindex="1" required
                              autofocus>
                            <div class="invalid-feedback">
                              Please fill in your email
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="d-block">
                              <label for="password" class="control-label">Password</label>
                              <div class="float-right">
                                <a href="/admin/forgot" class="text-small">
                                  Forgot Password?
                                </a>
                              </div>
                            </div>
                            <input id="password" type="password" class="form-control" name="password" tabindex="2"
                              required>
                            <div class="invalid-feedback">
                              please fill in your password
                            </div>
                          </div>

                          <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-lg btn-block" tabindex="4">
                              Login
                            </button>
                          </div>
                        </form>
                        <% const message=getMessages() %>

                        <% if(message.success) {%>
                          <span class="label success text-dark d-flex justify-content-center">
                            <%=message.success %>
                          </span>
        
                          <% } else if(message.error) { %>
                            <span class="label danger text-dark d-flex justify-content-center">
                              <%=message.error %>
                            </span>
        
                            <% } %>

                      </div>
            </div>
          </div>

        </div>
      </div>
  </div>
  </section>
  </div>
  <!-- General JS Scripts -->
  <script src="../assets/js/app.min.js"></script>
  <!-- JS Libraies -->
  <!-- Page Specific JS File -->
  <!-- Template JS File -->
  <script src="../assets/js/scripts.js"></script>
  <!-- Custom JS File -->
  <script src="../assets/js/custom.js"></script>
</body>


<!-- auth-login.html  21 Nov 2019 03:49:32 GMT -->

</html>