<%- include('commons/admin/head.ejs') %>
	<%- include('commons/admin/nav.ejs') %>
		<%- include('commons/admin/sidebar.ejs') %>

			<div class="main-content ">
				<section class="section">
					<div class="section-body ">
						<style>
							.label {
								color: white;
								padding: 8px;
								font-family: Arial;
							}

							.success {
								background-color: #96e999;
							}

							.danger {
								background-color: #f3a29c;
							}
						</style>
						<div class="row d-flex align-items-center">
							<div class="col-6 mx-auto">
								<div class="card h-100 border-primary justify-content-center">
									<div class="card-header">
										<h4>Change Password</h4>
									</div>
									<div class="card-body">
										<% const message=getMessages() %>

											<% if(message.success) {%>
												<span class="label success text-dark d-flex justify-content-center">
													<%=message.success %>
												</span>

												<% } else if(message.error) { %>
													<span class="label danger text-dark d-flex justify-content-center">
														<%=message.error %>
													</span>

													<% } %>

														<form role="form" action="/admin/update/password" method="POST">

															<div class="form-group">
																<label>Old Password</label>
																<div class="input-group">
																	<div class="input-group-prepend">
																		<div class="input-group-text">

																			<i class="fas fa-user-tie"></i>
																		</div>
																	</div>
																	<input id="oldPassword" name="oldPassword"
																		type="text" class="form-control currency">
																</div>
															</div>

															<div class="form-group">
																<label>New Password</label>
																<div class="input-group">
																	<div class="input-group-prepend">
																		<div class="input-group-text">

																			<i class="fas fa-user-tie"></i>
																		</div>
																	</div>
																	<input id="newPassword" name="newPassword"
																		type="text" class="form-control currency">
																</div>
															</div>

															<div class="form-group">
																<label>Confirm Password</label>
																<div class="input-group">
																	<div class="input-group-prepend">
																		<div class="input-group-text">

																			<i class="fas fa-user-tie"></i>
																		</div>
																	</div>
																	<input id="confirmPassword" name="confirmPassword"
																		type="text" class="form-control currency">
																</div>
															</div>
															<div class="form-group">
																<div class="card-footer text-right">
																	<button class="btn btn-primary mr-1"
																		type="submit">Submit</button>
																</div>
															</div>

														</form>
									</div>

								</div>
							</div>
						</div>
					</div>

			</div>

			<%- include('commons/admin/end.ejs') %>