<%- include('commons/user/head.ejs') %>
  <%- include('commons/user/nav.ejs') %>

    <section class="home-slider owl-carousel">
      <div class="slider-item" style="background-image: url('img/img_02.jpg');">

        <div class="container">
          <div class="row slider-text align-items-center justify-content-center text-center">
            <div class="col-md-7 col-sm-12 element-animate">
              <h1 class="mb-4"> Bizzcons Services</h1>
              <p class="">Dreaming Realities Fullfilling Promises</p>

            </div>
          </div>
        </div>

      </div>

      <div class="slider-item" style="background-image: url('img/img_03.jpg');">
        <div class="container">
          <div class="row slider-text align-items-center justify-content-center text-center">
            <div class="col-md-8 col-sm-12 element-animate">
              <h1 class="mb-4">Leading The Way Construction Works</h1>

            </div>
          </div>
        </div>

      </div>

    </section>
    <!-- END slider -->

    <section class="section bg-light" id="intro">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6 pr-lg-5 mb-5 mb-md-0  element-animate">
            <div class="pr-lg-5">
              <h2 class="text-uppercase heading border-bottom mb-4 text-left">The Company
              </h2>
              <p>Bizzcons Services provide a technically compliant and commercially viable turnkey solutions to our
                customers by anticipating their requirements and provide them with a broad and competitive range of
                services. </p>
              <p>We believe in long-term relationship with our Customers by giving them after-service facilities that
                will benefit them in the longer run. We intend to develop a niche in the Construction Industry by
                developing leading and new concepts coupled with beyond customer expectation services.</p>
            </div>
          </div>
          <div class="col-md-6  element-animate">
            <img src="img/slider-1.jpg" alt="" class="img-fluid">
          </div>
        </div>
      </div>
    </section>

    <section class="section">
      <div class="container">

        <div class="row justify-content-center mb-5 element-animate">
          <div class="col-md-8 text-center">
            <h2 class="text-uppercase heading border-bottom mb-4">Services</h2>
            <p class="mb-3 lead">We build with more than just concrete and steel; we build long-standing relationships.
              Bizzcons commits to a partnership approach for all projects that it manages. Centered around the idea of
              bettering our community, we assists our Customers with their projects from concept to completion and
              proudly offers the following construction-based solutions.</p>
          </div>
        </div>

        <div class="row mb-5">

          <div class="col-lg-4 col-md-6 col-12 mb-3 element-animate">
            <div class="media d-block media-feature text-center">
              <span class="flaticon-blueprint icon"></span>
              <div class="media-body">
                <h3 class="mt-0 text-black">Design Consultancy</h3>
                <p>Optimizing Customer Requirements.</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 col-12 mb-3 element-animate">
            <div class="media d-block media-feature text-center">
              <span class="flaticon-building-1 icon"></span>
              <div class="media-body">
                <h3 class="mt-0 text-black">Turnkey Solution</h3>
                <p>Delivering Unique and State-of-Art Solutions to the Customers.</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 col-12 mb-3 element-animate">
            <div class="media d-block media-feature text-center">
              <span class="flaticon-crane icon"></span>
              <div class="media-body">
                <h3 class="mt-0 text-black">House Renovations</h3>
                <p>Boosting the Ambiance of Customer's Property.</p>

              </div>
            </div>
          </div>




        </div>
        <!-- END row -->
        <div class="row justify-content-center element-animate">
          <div class="col-md-4">
            <p><a href="/services" class="btn btn-primary btn-block">View All Services</a></p>
          </div>
        </div>
      </div>
    </section>
    <!-- END section -->


    <!-- END section -->
    <section class="section border-t">
      <div class="container">
        <div class="row justify-content-center mb-5 element-animate">
          <div class="col-md-8 text-center">
            <h2 class="text-uppercase heading border-bottom mb-4">Our Projects</h2>
            <p class="mb-3 lead">The Projects listed here demonstrate the variety of Construction works Bizzcons
              performed. Leading the way in Karachi, we have developed an integrated approach to design, management, and
              build. We will take care of every feature of your project, from the initial architectural plans and
              regulations, through project management and construction, to interior design and fit-out with bespoke
              furniture and high-class hardware. You can relax knowing everything is being taken care of and every small
              detail is covered. </p>
            <p><a href="/projects" class="btn btn-primary">See All Projects</a></p>
          </div>
        </div>


        <% if(projects && projects.length> 0) { %>




          <% for(var i=0; i < projects.length; i++) { %>
            <div class="row no-gutters">
              <div class="col-md-4 element-animate">
                <a href="<%= projects[i].project_image %>" class="link-thumbnail ">
                  <h3>
                    <%= projects[i].project_title %>
                  </h3>
                  <span class="ion-plus icon"></span>
                  <img src="<%= projects[i].project_image %>" alt="Image placeholder" class="img-fluid">
                </a>
              </div>

              <% } %>

                <% } else { %>

                  <div class="row no-gutters">
                    <div class="col-md-4 element-animate">
                      <a href="img/work_thumb_1.jpg" class="link-thumbnail">
                        <h3>House Renovation</h3>
                        <span class="ion-plus icon"></span>
                        <img src="img/work_thumb_1.jpg" alt="Image placeholder" class="img-fluid">
                      </a>
                    </div>

                    <div class="col-md-4 element-animate">
                      <a href="img/work_thumb_2.jpg" class="link-thumbnail">
                        <h3>General Construction Building</h3>
                        <span class="ion-plus icon"></span>
                        <img src="img/work_thumb_2.jpg" alt="Image placeholder" class="img-fluid">
                      </a>
                    </div>

                    <div class="col-md-4 element-animate">
                      <a href="img/work_thumb_3.jpg" class="link-thumbnail">
                        <h3>Pre-Construction</h3>
                        <span class="ion-plus icon"></span>
                        <img src="img/work_thumb_3.jpg" alt="Image placeholder" class="img-fluid">
                      </a>
                    </div>
                    <% } %>

                  </div>
    </section>
    <!-- END section -->

    <section class="section border-t">
      <div class="container">
        <div class="row justify-content-center mb-5 element-animate">
          <div class="col-md-8 text-center mb-5">
            <h2 class="text-uppercase heading border-bottom mb-4">Testimonial</h2>
            <p class="mb-0 lead">Achieving Client Objectives, Satisfaction and Trust – Our Customers who experience
              Bizzcons Services are the best judge of our capabilities and ability to meet or exceed their expectations.
              Here is some of what our clients and business partners have to say about us.</p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 element-animate">
            <div class="media d-block media-testimonial text-center">
              <img src="img/zohaib.jpeg" alt="Image placeholder" class="img-fluid mb-3">
              <p>Zohaib Hasan, <a href="#">House Renovation.</a></p>
              <div class="media-body">
                <blockquote>
                  <p>&ldquo;Thank you for guiding me through the construction process, being kind, understanding, and
                    always ready to accommodate my requirements. I love my new space and know that it was built by the
                    very best!.&rdquo;</p>
                </blockquote>

              </div>
            </div>
          </div>

          <div class="col-md-6 element-animate">
            <div class="media d-block media-testimonial text-center">
              <img src="img/noman.jpeg" alt="Image placeholder" class="img-fluid mb-3">
              <p>Noman Ali Khan, <a href="#">House Construction.</a></p>
              <div class="media-body">
                <blockquote>
                  <p>&ldquo;Your team did an excellent job of managing your schedule and project changes. The project
                    was successfully completed on schedule and within the allocated budget. The level of service and
                    responsiveness was consistently excellent. Your team worked cooperatively to solve issues and meet
                    my demanding needs.&rdquo;</p>
                </blockquote>

              </div>
            </div>
          </div>

        </div>
      </div>
    </section>



    <%- include('commons/user/end.ejs') %>