<%- include('commons/admin/head.ejs') %>
  <%- include('commons/admin/nav.ejs') %>
    <%- include('commons/admin/sidebar.ejs') %>

      <div class="main-content">
        <section class="section">
          <div class="section-body">
            <style>
              .label {
                color: white;
                padding: 8px;
                font-family: Arial;
              }
  
              .success {
                background-color: #96e999;
              }
  
              .danger {
                background-color: #f3a29c;
              }
            </style>
            <div class="row d-flex align-items-center">
              <div class="col-6 mx-auto">
                <div class="card h-100 border-primary justify-content-center">
                  <div class="card-header">
                    <h4>Create A New Blog</h4>
                  </div>
                  <div class="card-body">
                    <% const message=getMessages() %>

                    <% if(message.success) {%>
                      <span class="label success text-dark d-flex justify-content-center">
                        <%=message.success %>
                      </span>
    
                      <% } else if(message.error) { %>
                        <span class="label danger text-dark d-flex justify-content-center">
                          <%=message.error %>
                        </span>
    
                        <% } %>

                    <form role="form" action="/admin/create/new/blog" method="POST" enctype="multipart/form-data">

                      <div class="form-group">
                        <label>Blog Title</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <div class="input-group-text">

                              <i class="fas fa-blog"></i>
                            </div>
                          </div>
                          <input id="blog_title" name="blog_title" type="text" class="form-control currency">
                        </div>
                      </div>
                      <div class="form-group">
                        <label>Sub Title</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <div class="input-group-text">

                              <i class="fa fa-info-circle"></i>
                            </div>
                          </div>
                          <input id="sub_title" name="sub_title" type="text" class="form-control currency">
                        </div>
                      </div>
                      <div class="form-group">
                        <label>Blog Description</label>
                        <textarea id="blog_desc" name="blog_desc" class="form-control"></textarea>
                      </div>

                    
                      <div class="form-group">
                        <label>Blog Image</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <div class="input-group-text">
                              <i class="fas fa-image"></i>
                            </div>
                          </div>
                          <input id="file" name="file" type="file" class="form-control">
                        </div>
                      </div>
                   
                      <div class="form-group">
                        <div class="card-footer text-right">
                          <button class="btn btn-primary mr-1" type="submit">Submit</button>
                        </div>
                      </div>

                    </form>
                  </div>

                </div>
              </div>
            </div>
          </div>

      </div>

      <%- include('commons/admin/end.ejs') %>