<%- include('commons/admin/head.ejs') %>
  <%- include('commons/admin/nav.ejs') %>
    <%- include('commons/admin/sidebar.ejs') %>

      <div class="main-content">
        <section class="section">
          <style>
            .label {
              color: white;
              padding: 8px;
              font-family: Arial;
            }

            .success {
              background-color: #96e999;
            }

            .danger {
              background-color: #f3a29c;
            }
          </style>
          <div class="section-body">
            <div class="row  d-flex align-items-center">
              <div class="col-6 mx-auto">
                <div class="card h-100 border-primary justify-content-center">
                  <div class="card-header">
                    <h4>Create An Admin</h4>
                  </div>
                  <% const message=getMessages() %>

                  <% if(message.success) {%>
                    <span class="label success text-dark d-flex justify-content-center">
                      <%=message.success %>
                    </span>
  
                    <% } else if(message.error) { %>
                      <span class="label danger text-dark d-flex justify-content-center">
                        <%=message.error %>
                      </span>
  
                      <% } %>
                  <div class="card-body">

                    <form role="form" action="/admin/create" method="POST" enctype="multipart/form-data">

                      <div class="form-group">
                        <label>Full name</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <div class="input-group-text">

                              <i class="fas fa-user-tie"></i>
                            </div>
                          </div>
                          <input id="fullname" name="fullname" type="text" class="form-control currency">
                        </div>
                      </div>

                      <div class="form-group">
                        <label>Email</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <div class="input-group-text">

                              <i class="fas fa-envelope"></i>
                            </div>
                          </div>
                          <input id="email" name="email" type="email" class="form-control currency">
                        </div>
                      </div>

                      <div class="form-group">
                        <label>Password</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <div class="input-group-text">
                              <i class="fas fa-lock"></i>
                            </div>
                          </div>
                          <input id="password" name="password" type="password" class="form-control pwstrength"
                            data-indicator="pwindicator">
                        </div>
                        <div id="pwindicator" class="pwindicator">
                          <div class="bar"></div>
                          <div class="label"></div>
                        </div>
                      </div>

                      <div class="form-group">
                        <label>Confirm Password</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <div class="input-group-text">
                              <i class="fas fa-lock"></i>
                            </div>
                          </div>
                          <input id="confirmPassword" name="confirmPassword" type="password"
                            class="form-control pwstrength" data-indicator="pwindicator">
                        </div>
                        <div id="pwindicator" class="pwindicator">
                          <div class="bar"></div>
                          <div class="label"></div>
                        </div>
                      </div>

                      <div class="form-group">
                        <label>Phone Number</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <div class="input-group-text">
                              <i class="fas fa-phone"></i>
                            </div>
                          </div>
                          <input id="phone" name="phone" type="number" class="form-control phone-number">
                        </div>
                      </div>

                      <div class="form-group">
                        <label>Date of birth</label>
                        <input id="dob" name="dob" type="date" class="form-control">
                      </div>

                      <div class="form-group">
                        <label>Facebook URL</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <div class="input-group-text">
                              <i class="fab fa-facebook"></i>
                            </div>
                          </div>
                          <input id="fbURL" name="fbURL" type="text" class="form-control">
                        </div>
                      </div>

                      <div class="form-group">
                        <label>Twitter URL</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <div class="input-group-text">
                              <i class="fab fa-twitter"></i>
                            </div>
                          </div>
                          <input id="twitterURL" name="twitterURL" type="text" class="form-control">
                        </div>
                      </div>

                      <div class="form-group">
                        <label>Profile Picture</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <div class="input-group-text">
                              <i class="fas fa-image"></i>
                            </div>
                          </div>
                          <input id="file" name="file" type="file" class="form-control">
                        </div>
                      </div>
                      <div class="form-group">
                        <label>Short intro about yourself</label>
                        <textarea id="short_intro" name="short_intro" class="form-control"></textarea>
                      </div>


                      <div class="form-group">
                        <label>Bio</label>
                        <textarea id="bio" name="bio" class="form-control"></textarea>
                      </div>
                      <div class="form-group">
                        <div class="card-footer text-right">
                          <button class="btn btn-primary mr-1" type="submit">Submit</button>
                        </div>
                      </div>

                    </form>
                  </div>

                </div>
              </div>
            </div>
          </div>

      </div>


      <%- include('commons/admin/end.ejs') %>