<%- include('commons/admin/head.ejs') %>
    <%- include('commons/admin/nav.ejs') %>
        <%- include('commons/admin/sidebar.ejs') %>

            <div class="main-content">
                <section class="section">
                    <div class="row">
                        <div class="col-12">
                            <div class="row">

                                <% if(projects) { %>
                                    <% for(var i=0; i < projects.length; i++) { %>
                                        <div class="col-12 col-sm-6 col-md-6 col-lg-3">
                                            <article class="article">
                                                <div class="article-header">
                                                    <div class="article-image"   data-background="<%= projects[i].project_image %>">
                                                        <img src="<%= projects[i].project_image %>">
                                                    </div>
                                                    <div class="article-title">
                                                       
                                                    </div>
                                                </div>
                                                <div class="article-details">
                                                  <strong><p> <%= projects[i].project_title %>. </p></strong>  
                                                    <div class="article-cta">
                                                        <a href="/admin/projects/<%= projects[i].project_id %>" class="btn btn-primary">Read More</a>
                                                    </div>
                                                </div>
                                            </article>
                                        </div>
                                        <% } %>
                                            <% } %>
                            </div>

                </section>
            </div>


            <%- include('commons/admin/end.ejs') %>