<%- include('commons/user/head.ejs') %>
  <%- include('commons/user/nav.ejs') %>

    <section class="inner-page">
      <div class="slider-item py-5" style="background-image: url('img/img_07.jpg');">

        <div class="container">
          <div class="row slider-text align-items-center justify-content-center text-center">
            <div class="col-md-7 col-sm-12 element-animate">
              <h1 class="text-white">Our Services</h1>
            </div>
          </div>
        </div>

      </div>
    </section>

    <section class="section bg-light">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6 col-12 mb-3 element-animate">
            <div class="media d-block media-feature text-center">
              <span class="flaticon-blueprint icon"></span>
              <div class="media-body">
                <h3 class="mt-0 text-black">Design Consultancy</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                <p><a href="#" class="btn btn-outline-primary btn-sm" data-toggle="modal"
                    data-target=".design-consultancy">Learn More</a></p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 col-12 mb-3 element-animate">
            <div class="media d-block media-feature text-center">
              <span class="flaticon-building-1 icon"></span>
              <div class="media-body">
                <h3 class="mt-0 text-black">Interior Design and Decoration</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                <p><a href="#" class="btn btn-outline-primary btn-sm" data-toggle="modal"
                    data-target=".interior-design">Learn More</a></p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 col-12 mb-3 element-animate">
            <div class="media d-block media-feature text-center">
              <span class="flaticon-crane icon"></span>
              <div class="media-body">
                <h3 class="mt-0 text-black">Gray Structure Construction</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                <p><a href="#" class="btn btn-outline-primary btn-sm" data-toggle="modal"
                    data-target=".gray-structure">Learn More</a></p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 col-12 mb-3 element-animate">
            <div class="media d-block media-feature text-center">
              <span class="flaticon-helmet icon"></span>
              <div class="media-body">
                <h3 class="mt-0 text-black">Turnkey Home Solutions</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                <p><a href="#" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target=".turnkey">Learn
                    More</a></p>
              </div>
            </div>
          </div>


          <div class="col-lg-4 col-md-6 col-12 mb-3 element-animate">
            <div class="media d-block media-feature text-center">
              <span class="flaticon-building icon"></span>
              <div class="media-body">
                <h3 class="mt-0 text-black">House Renovation</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                <p><a href="#" class="btn btn-outline-primary btn-sm" data-toggle="modal"
                    data-target=".house-renovation">Learn More</a></p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 col-12 mb-3 element-animate">
            <div class="media d-block media-feature text-center">
              <span class="flaticon-engineer icon"></span>
              <div class="media-body">
                <h3 class="mt-0 text-black">General Contracting</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                <p><a href="#" class="btn btn-outline-primary btn-sm" data-toggle="modal"
                    data-target=".gray-structure">Learn More</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- END section -->


    <!-- Modals -->

    <!-- Modal Gray Structure -->
    <div class="modal fade gray-structure" id="exampleModal" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Gray Structure Construction</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div>Apart from Turnkey Solution to our valued Customers, we can construct quality Gray
              Structure worthy
              of approval from Authorities. We have our Quality Assurance and Control Team that will be available
              throughout the work duration to ensure all material and service shall be compliant to the
              specifications provided and agreed with the Customer.</div>
            <p>This includes but not limited to:</p>
            <div>
              <ul class="list-unstyled check">
                <li>Foundation</li>
                <li>Walls</li>
                <li>Roof</li>
                <li>Plaster (Internal and External)</li>
                <li>Under-ground water tank</li>
                <li>Roof Water Tank</li>
                <li>Sewerage System</li>
                <li>Conduit for Electrical Connections</li>
              </ul>
            </div>

          </div>
          <div class="modal-footer">
          </div>
        </div>
      </div>
    </div>
    </div>


    <!-- Design Consultancy  -->
    <div class="modal fade design-consultancy" id="exampleModal" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Design Consultancy</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div>We are honored to have experienced and skilled team providing a full range of Pre-Construction Design
              and Consultancy Services. We believe in improving and Optimizing Customer requirement and expectation by
              providing tailored and unique solutions resulting in significant reduction in cost and time to the
              Customer. All designs shall be dedicated and meeting the requirement of Customer.</div>
            <div> Our aptitude allows us the freedom to provide diverse architectural solutions, to leverage
              state-of-the-art products and materials including customer’s visions to improve each project. All Customer
              requirements shall be translated into practical, aesthetically pleasing and sustainable solutions.</div>


          </div>
          <div class="modal-footer">
          </div>
        </div>
      </div>
    </div>
    </div>

    <!-- Interior Design -->
    <div class="modal fade interior-design" id="exampleModal" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Interior Design and Decoration</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div>Beautiful homes, snazzy office layouts, and breath-taking retail spaces are the result of knowledgeable
              and creative minds employing skilled workmen and high-grade material to create mini masterpieces in
              residential, corporate, and commercial spaces. Our talented team can transform any property into a
              beautiful space through architectural and interior design.</div>
            <div>We have partnered PEC Certified experts that are able to design Mechanical, Electrical, Plumbing and
              Structural drawings as per Customer requirement and satisfaction. This includes technical verification,
              design evaluations and coordinate project engineering design including Engineering Analysis to include
              preliminary design, design report, calculations, and material selection.</div>


          </div>
          <div class="modal-footer">
          </div>
        </div>
      </div>
    </div>
    </div>


    <!-- Turnkey -->
    <div class="modal fade turnkey" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Turnkey Home Solutions</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div>We are committed to provide complete turnkey solution to our customers in terms of Home Construction.
              We offer fully designed, well-constructed and equipped facility to our Customers that will drastically
              simplifies things for our valued Customers. The basic advantage to our Customer is the shifting of
              complete Responsibility to Bizzcons and then ‘turn the key’ for the finished product.</div>
            <div>We have the expertise, experience and skill to perform outclass and our matchless services have helped
              us to deliver efficiently, effectively maintaining high standard throughout our development process. We
              can provide one-window solution to our Customers that will save them from hassle, construction stress and
              even from relevant paperwork. </div>
            <div>We are delivering High-Quality Solutions which is an essential essence of our business. Bizzcons team
              of qualified architects and engineers will ensure high quality service reaches you at every stage. </div>
            <div>Our Design and Specifications are unique, innovative and competitive. We utilize latest materials
              technologies and identify real opportunities to add greater value to your construction site. We offer
              competitive pricing and will safeguard Customer’s budget in every respect.</div>
          </div>
          <div class="modal-footer">
          </div>
        </div>
      </div>
    </div>
    </div>


    <!-- House Renovation -->
    <div class="modal fade house-renovation" id="exampleModal" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">House Renovation</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div>We are operating with the objective to expertly resolve all renovation requirements of Customers. We
              have hands-on experience in remodeling offices, homes and buildings. We are a team that can uplift the
              ambiance of your property, and give refreshing and revitalized outlook of your home or office space.</div>
            <p>We assist you with the following services:</p>
            <div>
              <ul class="list-unstyled check">
                <li>Free estimation of scope of work with tentative timeline</li>
                <li>Suitable material selection and availability.</li>
                <li>Execution of project by deploying dedicated professionals.</li>

              </ul>
            </div>
            <p>The areas of expertise are:</p>
            <div>
              <ul class="list-unstyled check">
                <li>Flooring (Tiles / Marble/Laminate)</li>
                <li>Kitchen</li>
                <li>Roof Water Proofing</li>
                <li>Washroom</li>
                <li>Home Interior</li>
              </ul>
            </div>

          </div>
          <div class="modal-footer">
          </div>
        </div>
      </div>
    </div>
    </div>


    <%- include('commons/user/end.ejs') %>