<%- include('commons/user/head.ejs') %>
  <%- include('commons/user/nav.ejs') %>


    <section class="section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-12">
            <img src="<%= project.project_image %>" alt="Image placeholder" class="img-fluid">
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-lg-6 mx-auto">
            <h2 class="text-uppercase heading mb-4 text-center"><%= project.project_title %></h2>
          </div>
        </div>


        <div class="row mb-5">

            <p><%= project.project_description %></p>

          </div>


        </div>

      </div>
    </section>
    <!-- END section -->


    <%- include('commons/user/end.ejs') %>