<%- include('commons/admin/head.ejs') %>
    <%- include('commons/admin/nav.ejs') %>
        <%- include('commons/admin/sidebar.ejs') %>

        <%= project.project_image %>

            <div class="main-content">
                <% if(project) { %>
                    <section class="section">
                        <div class="container">
                            <div class="row">
                                <div class="container">
                                    <div class="text-center">
                                        <div class="text-center element-animate">
                                            <h1>
                                                <%= project.project_title %>
                                            </h1>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="text-center element-animate">
                                        <div class="media d-block media-custom ">
                                            <img src="<%= project.project_image %>" alt="Image Placeholder"
                                                class="img-fluid">
                                            <div class="media-body">
                                                <div>
                                                    <br>
                                                </div>

                                                <p class="text-center element-animate">
                                                    <%= project.project_description %>
                                                </p>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </section>

                    <% } %>
            </div>

            <%- include('commons/admin/end.ejs') %>