<div class="main-sidebar sidebar-style-2">
  <aside id="sidebar-wrapper">
    <div class="sidebar-brand">
      <a href="/admin/dashboard"> <img alt="image" src="/assets/img/logo.png" class="header-logo" /> <span
          class="logo-name">Bizzcons</span>
      </a>
    </div>

    <ul class="sidebar-menu">
      <li class="menu-header">Main</li>
      <li class="dropdown active">
        <a href="/admin/dashboard" class="nav-link"><i data-feather="monitor"></i><span>Dashboard</span></a>
      </li>
      <li class="dropdown">
        <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="briefcase"></i><span>User
            Management</span></a>
        <ul class="dropdown-menu">
          <li><a class="nav-link" href="/admin/create">New Admin</a></li>
          <li><a class="nav-link" href="/admin/all">See Admins</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="command"></i><span>Quotes</span></a>
        <ul class="dropdown-menu">
          <li><a class="nav-link" href="/admin/recent-quotes">Recent Quotes</a></li>
          <li><a class="nav-link" href="/admin/quotations">Past Quotes</a></li>
        </ul>
      </li>
   

      <!-- Blogs -->
      <li class="menu-header">Blogs</li>
      <li class="dropdown">
        <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="copy"></i><span>Blogs
          </span></a>
        <ul class="dropdown-menu">
          <li><a class="nav-link" href="/admin/create/blog/new">Add New Blog</a></li>
          <li><a class="nav-link" href="/admin/blogs/all">See All Blogs</a></li>

        </ul>
      </li>

      <!-- News -->

      <li class="menu-header">News</li>
      <li class="dropdown">
        <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="copy"></i><span>News
          </span></a>
        <ul class="dropdown-menu">
          <li><a class="nav-link" href="/admin/news/new">Add New News</a></li>
          <li><a class="nav-link" href="/admin/news/all">See All News</a></li>

        </ul>
      </li>


      <!-- Projects -->

      <li class="menu-header">Projects</li>
      <li class="dropdown">
        <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="copy"></i><span>Projects
          </span></a>
        <ul class="dropdown-menu">
          <li><a class="nav-link" href="/admin/projects/add">Add New Project</a></li>
          <li><a class="nav-link" href="/admin/projects/all">See All Projects</a></li>

        </ul>
      </li>

      <!-- Change Password -->

      <li class="menu-header">Edit Profile</li>
      <li class="dropdown">
        <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="copy"></i><span>Profile
          </span></a>
        <ul class="dropdown-menu">
          <li><a class="nav-link" href="/admin/update/password">Update Password</a></li>
          <li><a class="nav-link" href="/admin/update/info">Update Profile</a></li>

        </ul>
      </li>
      

    </ul>
  </aside>
</div>